@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.robo-font{
    font-family: "Roboto Slab", serif;
}

.libre-font{
    font-family: "Libre Baskerville", serif;
  }

.bgImage{
    background-image: url(./components/AddTouristSpot/bgImage.jpg);
    background-position: center;
    background-size: cover;
}
.ibmFont{
    font-family: "IBM Plex Serif", serif;
  }